@import '../../mixins';
@import '../../colors';
@import '../../fonts';
@import '../../grid';

$tooltip-border-radius: 1.125rem;
$tooltip-shadow: 0px 47px 80px rgba(0, 0, 0, 0.204148), 0px 18.1037px 25.4815px rgba(0, 0, 0, 0.315852), 0px 3.82963px 6.51852px rgba(0, 0, 0, 0.52);
$tooltip-background: $color-white-100;
