.planets-toolbar {
  @include flex(center);
  position: absolute;
  left: 0; top: calc(50% - 19rem);
  width: 100vw;
@import '../mixins';
@import '../colors';
@import '../fonts';
@import '../grid';

  padding-left: 3.25rem;
  padding-right: 3.25rem;
  box-sizing: border-box;
  z-index: 6;
  transition: .5s ease, opacity .15s ease;
  transform: translateY(-100vh);
  visibility: hidden;
  opacity: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'm-lg')) {

    @media (min-aspect-ratio: 1426 / 912) {
      padding: 0 10rem;
    }

    @media (min-aspect-ratio: 1426 / 768) {
      padding: 0 10rem;
    }

    @media (min-aspect-ratio: 1426 / 683) {
      padding: 0 25rem;
    }

    @media (min-aspect-ratio: 1426 / 605) {
      padding: 0 29.5rem;
    }

    @media (min-aspect-ratio: 1426 / 576) {
      padding: 0 29.5rem;
    }

    @media (min-aspect-ratio: 1426 / 540) {
      padding: 0 80rem;
    }

    @media (min-aspect-ratio: 1426 / 537) {
      padding: 0 75rem;

      .name {
        margin-right: 4rem;
      }

      .custom-switch {
        margin-left: 4rem;
      }
    }
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    padding: 0 12.4rem;

    @media (min-aspect-ratio: 1500 / 692) {
      padding: 0 22.4rem;
    }

    @media (min-aspect-ratio: 1500 / 568) {
      padding: 0 34.5rem;
    }

    @media (min-aspect-ratio: 1500 / 482) {
      padding: 0 47.5rem;
    }
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'm-sm')) {
    padding: 0 1.5rem;
  }

  .name {
    @include flex(center);
    margin-right: auto;
    text-transform: capitalize;

    @media screen and (max-width: map-get($grid-breakpoints, 'm-sm')) {
      @include flex(flex-start, flex-start, column);

      .planet-number-block {
        .row {
          @include flex;

          .actual-planet-number, .planet-number {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-size: .875rem;
            line-height: 1.5rem;
            font-weight: 400;
          }

          .actual-planet-number {
            color: $color-purple-50;
          }

          .planet-number {
            color: $color-white-100;
            opacity: .6;
          }

          img {
            width: 100%;
            opacity: .6;
            margin: 0 .5rem;
          }
        }

      }

    }



    .btn {
      margin-right: 4rem;
      @include size(2.5rem);
    }

    .value-wrapper {
      // @include size(20rem, 5.25rem);
      position: relative;
      // overflow-y: hidden;

      p {
        // position: absolute;
        @include font-poppins-56-auto-500;

        &#oldValue {
          left: 0; top: 0;
        }
        &#newValue {
          left: 0; top: 100%;
        }

        @media screen and (max-width: map-get($grid-breakpoints, 'm-sm')) {
          @include font-poppins-40-48-500;
        }
      }

      // &.changing {
      //   p#oldValue {
      //     top: -100%;
      //     transition: ease .4s;
      //   }
      //
      //   p#newValue {
      //     top: 0;
      //     transition: .2s ease .2s;
      //   }
      // }
    }
  }

  &.switch-checked {

    // .value-wrapper {
    //   width: 10rem;
    // }


    .form-elements {
      opacity: 1;
      visibility: visible;
    }
  }

  .form-elements {
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;



    form {
      @include flex;

      .custom-input {
        margin-right: 2rem;
      }
    }
  }

  .custom-switch {
    margin-left: auto;

    @media screen and (max-width: map-get($grid-breakpoints, 'm-sm')) {
      padding: .5rem;

      svg {
        @include size(1.75rem);
      }

      p:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

}

[data-appear-onplanet] {
  opacity: 0;
  visibility: hidden;
  transition: .5s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
